*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 18px;
}

body {
	margin: 0;
	--color-text: #fff;
	--color-bg: #000;
	--color-link: #c63643;
	--color-link-hover: #fff;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: mono45-headline, monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lil-gui {
	visibility: hidden;
}

.content {
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
}
.content img {
	width: 40vw;
}
#canvasContainer{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}
#canvasContainer img{
	visibility: hidden;
	pointer-events: none;
	position: absolute;
}
